* {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

/* CSS HEX */
/* 
--middle-blue-green: #84dcc6ff;
--beau-blue: #d6edffff;
--uranian-blue: #acd7ecff;
--blue-bell: #8b95c9ff;
--viridian: #478978ff; 
*/

.geral {
  display: grid;
  grid-template-rows: 1fr 8fr 1fr;
  grid-template-columns: 1fr;
  background-color: #478978;
  height: 100vh;
  width: 100vw;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

nav a {
  margin-right: 10px;
  text-decoration: none;
  color: #d6edff;
  font-size: 1.5rem;
}

#logo {
  color: #acd7ecff;
}

#subTitle {
  color: #84dcc6ff;
}

#seletorQuartos {
  margin-top: 20px;
}

#botaoBuscar {
  margin-top: 20px;
  width: 160px;
  color: #478978ff;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #d6edff;
  height: 100%;
}

.frase {
  display: flex;
  align-items: center;
  justify-content: center;
}

.botao {
  display: flex;
  align-items: center;
  justify-content: center;
}

.foto {
  display: flex;
  align-items: center;
  justify-content: center;
}

.foto img {
  max-width: 600px;
  max-height: 600px;
  border: 10px solid #478978;
}

.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.itemFormulario {
  margin-top: 10px;
}

.logo {
  max-width: 20%;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.redesSociais {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.redesSociais a {
  margin-right: 10px;
  text-decoration: none;
  color: #d6edff;
  font-size: 1.5rem;
}

#texto-footer {
  color: #84dcc6ff;
}