* {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

/* CSS HEX */
/* 
--middle-blue-green: #84dcc6ff;
--beau-blue: #d6edffff;
--uranian-blue: #acd7ecff;
--blue-bell: #8b95c9ff;
--viridian: #478978ff; 
*/

.geral {
  display: grid;
  grid-template-rows: 100px 1fr 100px;
  background-color: #478978;
  height: 100vh;
  width: 100vw;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  margin-right: 10px;
  text-decoration: none;
  color: #d6edff;
  font-size: 1.5rem;

}

nav a:last-child {
  margin-left: 30px;
  margin-right: 70px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  background-color: #d6edff;
  justify-items: center;
}

.imagemKitnet {
  width: 350px;
  height: 200px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.redesSociais {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.redesSociais a {
  margin-right: 10px;
  text-decoration: none;
  color: #d6edff;
  font-size: 1.5rem;
  padding: 10px;
}

#texto-footer {
  color: #84dcc6ff;
}