* {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* CSS HEX */
/* 
--middle-blue-green: #84dcc6ff;
--beau-blue: #d6edffff;
--uranian-blue: #acd7ecff;
--blue-bell: #8b95c9ff;
--viridian: #478978ff; 
*/

/* ___________Mobile____________ */

@media screen and (min-device-width : 375px) and (max-device-width : 667px) {
  .geral {
    display: flex;
    flex-direction: column;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    background-color: #478978;
  }

#onde {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

section > iframe {
  max-width: 300px;
}

.mapa {
  max-width: 100%;
}

.onde h1 {
  color: #478978;
}

  .subtitulo {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #478978;
    margin-top: 50px;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    border: 1px solid #478978;
  }
  
  .card h4 {
    color: #478978;
  }
  
  .card p {
    color: #478978;
  }
  
  .card img {
    width: 200px;
    height: 150px;
    border: 2px solid #478978;
    border-radius: 10px;
  }
  
  .itemFormulario {
    color: #478978;
  }
  
  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  
  nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: 15px;
  }
  
  nav a {
    text-decoration: none;
    color: #d6edff;
    font-size: 1rem;
  }

  nav a:nth-child(2n) {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .busca {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .compartilhada {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    margin-top: 50px;
    margin-bottom: 30px;
    gap: 10px;
  }
  
  .kitnets {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    gap: 10px;
  }

  .banner {
    display: flex;
  }
  
  .banner img {
    width: 100%;
    height: 100%;
  }
  
  .banner p {
    position: absolute;
    color: white;
    padding: 10px;
    font-size: 0.8rem;
  }
  
  #seletorQuartos {
    margin-top: 20px;
  }
  
  #botaoBuscar {
    margin-top: 20px;
    width: 160px;
    color: #478978ff;
  }
  
  main {
    background-color: #d6edff;
  }
  
  .frase {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    text-align: center;
  }
  
  .botao {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .foto {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .foto img {
    max-width: 200px;
    max-height: 200px;
    border: 10px solid #478978;
    border-radius: 10px;
  }
  
  .formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  
  .itemFormulario {
    margin-top: 10px;
  }
  
  .logo {
    max-width: 10px;
  }
  
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #478978;
  }
  
  h3 {
    color: gray;
  }
  
  .redesSociais {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .redesSociais a {
    margin-right: 10px;
    text-decoration: none;
    color: #d6edff;
    font-size: 1.5rem;
    padding: 10px;
  }
  
  #texto-footer {
    color: #84dcc6ff;
    text-align: center;
  }
}

/* ___________Desktop____________ */

@media screen and (min-device-width : 1200px) {
  .geral {
    display: grid;
    grid-template-rows: 100px 1fr 100px;
    background-color: #478978;
  }
  
  .subtitulo {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #478978;
    margin-top: 100px;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    border: 1px solid #478978;
  }
  
  .card h4 {
    color: #478978;
  }
  
  .card p {
    color: #478978;
  }
  
  .card img {
    width: 200px;
    height: 150px;
    border: 2px solid #478978;
    border-radius: 10px;
  }
  
  .itemFormulario {
    color: #478978;
  }
  
  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 125px;
  }
  
  nav a {
    text-decoration: none;
    color: #d6edff;
    font-size: 1.5rem;
  
  }
  
  nav a:nth-child(2n) {
    margin-left: 30px;
    margin-right: 30px;
  }
  
  .busca {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 100px;
    margin-bottom: 120px;
  }
  
  .compartilhada {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    margin-top: 100px;
    height: 400px;
    margin-bottom: 50px;
  }
  
  .kitnets {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    margin-top: 100px;
    height: 400px;
  }
  
  .banner img {
    width: 100%;
    height: 100%;
  }
  
  .banner p {
    position: absolute;
    color: white;
    padding: 100px;
  }
  
  #seletorQuartos {
    margin-top: 20px;
  }
  
  #botaoBuscar {
    margin-top: 20px;
    width: 160px;
    color: #478978ff;
  }
  
  main {
    background-color: #d6edff;
  }
  
  .frase {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
  }
  
  .botao {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .foto {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .foto img {
    max-width: 600px;
    max-height: 600px;
    border: 10px solid #478978;
    border-radius: 10px;
  }
  
  .formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .itemFormulario {
    margin-top: 10px;
  }
  
  .logo {
    max-width: 20%;
  }
  
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  h3 {
    color: gray;
  }
  
  .redesSociais {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .redesSociais a {
    margin-right: 10px;
    text-decoration: none;
    color: #d6edff;
    font-size: 1.5rem;
    padding: 10px;
  }
  
  #texto-footer {
    color: #84dcc6ff;
  }
}

#onde {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

iframe {
  width: 800px;
  height: 600px;
}

#onde h1 {
  color: #478978;
  padding: 10px;
  margin-bottom: 30px;
}